
config LKM_UDP
	tristate "user interface by UDP"
	default m

config LKM_CDEV
	tristate "user interface by char device"
	default m

config LKM_NETLINK
	tristate "user interface by netlink"
	default m

config LKM_IOCTL
	tristate "user interface by ioctl"
	default m

config LKM_DEBUGFS
	tristate "user interface by debugfs"
	default m
